@import '../../shared/sass/base';

.nav-brand{
    text-decoration: none;
    font-family: $base_font_family !important;

    &:visited{
        color: black;
    } 
}

.nav-menu{
    
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}