@import '../../shared/sass/base';

.nav-brand{
    text-decoration: none;
    font-family: $base_font_family !important;

    &:visited{
        color: black;
    } 
}

.nav-menu{
    
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.user-auth-menu{
    margin-top: 2px;
    position: absolute !important;
    border-radius: 4px;
    background-color: #fff;

    .user-auth-menu-item{
        padding: 5px;
    }
}